<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:util="urn:java:org.thymeleaf.expression.Strings" th:with="contentTemplate='recipe_card_fragment'">
<body>
<div th:fragment="recipe-card(recipe)">
    <div class="recipe-card">
        <div class="cover-image">
            <div class="image-container">
                <img th:src="${recipe.getCoverPath()}" class="card-img-top" alt="Recipe Image">
                <div class="recipe-image-overlay"></div>
            </div>
        </div>
        <div class="card-rating">
            <span class="star">&#9733;</span>
            <span class="rating-value" th:text="${recipe.getRating().getRatingValue()}"></span>
            <span> <i class="bi bi-clock-fill clock-icon" th:text="${recipe.getEstimatedDuration()} + 'min'"></i></span>
        </div>
        <div class="author-overlay">
            <span><img th:src="${recipe.getAuthorProfilePic()}" class="author-profile-pic" alt="Author Profile Picture"></span>
            <span class="author-name"><a class="recipe-link" th:text="${recipe.getAuthorName()}" th:href="${recipe.getAuthorAbsoluteUrl()}"></a></span>
            <span th:if="${recipe.isVerified()}"><i class="bi bi-patch-check-fill checkmark" data-toggle="tooltip" data-placement="top" title="Verified Chef"></i></span>

        </div>
        <div class="card-title">
            <a class="recipe-link" th:href="${recipe.getAbsoluteUrl()}" th:text="${recipe.getName()}"></a>
        </div>
        <div class="card-body">
            <p class="card-text" th:text="${#strings.abbreviate(recipe.getDescription(), 100)}"></p>
        </div>
        <div class="card-tags">
            <div th:each="tag : ${recipe.getTags()}">
                <a class="modern-link" th:href="'/search?tag=' + ${tag} + '&page=1'">
                    <span class="badge badge-primary" th:text="${tag}"></span>
                </a>
            </div>

        </div>
    </div>
</div>
</body>
</html>