.search-bar {
  display: flex;
  align-items: center;
}

#searchInput {
  width: 400px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#searchButton {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-content a {
  display: block;
  cursor: pointer;
  padding: 5px;
}

.dropdown-content a:hover {
  background-color: #e9e9e9;
}

#searchButton:hover {
  background-color: #0056b3;
}

.custom-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.custom-card {
  width: 100%;
  margin: 10px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.result-image {
  flex-shrink: 0;
  width: 100px; /* Adjust the width as desired */
  height: 100px; /* Adjust the height as desired */
  margin-right: 10px;
  overflow: hidden;
}

.result-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result-name {
  flex-grow: 1;
  margin-right: 10px;
}
.result-description {
  flex-grow: 1;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Adjust the number of lines as desired */
}

