<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:insert="~{/fragments/base :: html}" th:with="contentTemplate='tag_list'">
<body>
<div class="container mt-3 slideDown" th:fragment="content">
  <div th:if="${request != null and request.isUserInRole('ROLE_ADMIN')}">
    <div th:if="${request.isUserInRole('ROLE_ADMIN')}">
      <div class="mt-4 mb-4">
        <h2 style="color:lightpink">Admin Panel/Tag List</h2>
      </div>
    </div>
  </div>
  <div th:unless="${request.isUserInRole('ROLE_ADMIN')}">
    <div class="mt-4 mb-4">
      <h2 style="color:white">All Tags</h2>
    </div>
  </div>
  <div th:replace="fragments/tag-table :: tag-table(tags=${tags}, maxNumberOfPages=${maxNumberOfPages})"></div>
</div>
</body>
</html>